{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
        
        
{% endblock %}

{% block content %}
    <div class="container tutorial">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font mb-4">Tutorials</h2>
                <hr>
            </div>
        </div>

        <div class="row mt-5">        
            {% for tutorial in tutorials %}
                <div class="col-12 text-center">
                    <h3 class="tutorial-title">
                        {{ tutorial.title }}:
                    </h3>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a class="text-success" href="{% url 'add_tutorial' %}">Add</a> | 
                        <a href="{% url 'edit_tutorial' tutorial.id %}">Edit</a> | 
                        <a class="text-danger" data-toggle="modal" href="#modal-delete-{{ tutorial.id }}">Delete</a>
                    </small>
                    {% include 'tutorials/includes/delete-modal.html' %}
                {% endif %}
                </div>
                <div class="col-12 col-lg-6">
                    <iframe class="youtube-video" src="{{ tutorial.youtube_url }}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mt-3">
                        <p>
                            {{ tutorial.description }}
                        </p>
                        {% if tutorial.additional_link %}
                            <p>
                                <a href="{{ tutorial.additional_link }}" class="tutorial-link" target="_blank">{{ tutorial.additional_link }}</a>                        
                            </p>
                        {% endif %}                  
                    </div>
                </div>

                <div class="col-12">
                    <hr>
                </div>
            {% endfor %}
            
            <div class="btt-button rounded-circle border-white bg-head">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
                </a>	
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}  
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}
