{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="hero-image">
    <div class="container h-100">
        <div class="row h-75 hero-title">
            <div class="col-md-9 col-lg-6 my-auto">
                <h1 class="display-4 logo-font text-black hero-text">
                    TECH TREASURES
                </h1>
                <h3 class="logo-font text-black hero-text">
                    "Discover. Create. Innovate."
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card category-card text-white" style="background: url('{{ MEDIA_URL }}card-background-1.jpg') center/cover no-repeat;">
                <a href="{% url 'products' %}?category=arduino">
                    <div class="row card inner-card">
                        <div class="col-12">
                            <h2 class="card-title text-black">Arduino</h2>
                            <img src="{{ MEDIA_URL }}arduino-logo.png" class="img-fluid category-logo" alt="...">
                        </div>
                    </div>
                </a>
            </div>
        </div>        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card category-card text-white" style="background: url('{{ MEDIA_URL }}card-background-2.jpg') center/cover no-repeat;">
                <a href="{% url 'products' %}?category=raspberry_pi">
                    <div class="row card inner-card">
                        <div class="col-12">
                            <h2 class="card-title text-black">Raspberry Pi</h2>
                            <img src="{{ MEDIA_URL }}raspberry-pi-logo.png" class="img-fluid category-logo" alt="...">                    
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card category-card text-white" style="background: url('{{ MEDIA_URL }}card-background-3.jpg') center/cover no-repeat;">
                <a href="{% url 'products' %}?category=micro_bit">
                    <div class="row card inner-card">
                        <div class="col-12">
                            <h2 class="card-title text-black">Micro:bit</h2>
                            <img src="{{ MEDIA_URL }}microbit-logo.png" class="img-fluid category-logo" alt="...">                    
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card category-card text-white" style="background: url('{{ MEDIA_URL }}card-background-4.jpg') center/cover no-repeat;">
                <a href="{% url 'products' %}?category=inventors_kits">
                    <div class="row card inner-card">
                        <div class="col-12">
                            <h2 class="card-title text-black">Inventors Kits</h2>
                            <img src="{{ MEDIA_URL }}inventor-logo.png" class="img-fluid category-logo" alt="...">   
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card category-card text-white" style="background: url('{{ MEDIA_URL }}card-background-5.jpg') center/cover no-repeat;">
                <a href="{% url 'products' %}?category=robots">
                    <div class="row card inner-card">
                        <div class="col-12">
                            <h2 class="card-title text-black">Robots</h2>
                            <img src="{{ MEDIA_URL }}robot-logo.png" class="img-fluid category-logo" alt="...">                    
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card category-card text-white" style="background: url('{{ MEDIA_URL }}card-background-6.jpg') center/cover no-repeat;">
                <a href="{% url 'products' %}?category=tools,accessories">
                    <div class="row card inner-card">
                        <div class="col-12">
                            <h2 class="card-title text-black">Tools & Acc.</h2>
                            <img src="{{ MEDIA_URL }}tools-logo.png" class="img-fluid category-logo" alt="...">   
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}