html {
    height: 100%;
}

body {
    height: calc(200vh - 164px);    
    color: #555;
    font-family: 'Share Tech Mono', monospace;
    margin: 0; /* Remove default body margin */
}

.hero-image {
    background: url('../../media/hero-image.webp') no-repeat center center;
    background-size: cover;
    height: 70vh;
}

.hero-title {
    justify-content: flex-end;
    text-align: right;
}

.card {
    border-radius: 0;
    margin: 10px;
}

.card-title {
    font-size: 2vw;
}

.category-card {
    border: unset;
}

.inner-card {
    text-align: center;
    border-radius: 0.25rem;
    background-color: rgba(255,255,255,0.3);
}

.category-logo {
    width: 30%;
    mix-blend-mode: darken;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.form-check-input {
    display: none;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.pagination {
    justify-content: center;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    .card-title {
        font-size: 3vw;
    }
}

@media (max-width: 577px) {
    .card-title {
        font-size: 6vw;
    }
}