{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">Admin Contact Page</h2>
            <hr>
        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table-striped" id="admin-contact-table" style="width:100%">
            <thead class="bg-head">
                <tr>
                    <th>Sent</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-center">Replied</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for email in emails|dictsortreversed:"date_sent" %}
                <tr class="clickable-row" data-href="{% url 'admin-contact-reply' email.id %}">
                    <td {% if not email.have_read %}class="font-weight-bold"{% endif %}>
                        {{ email.date_sent|date:"j M Y" }}<br>{{ email.date_sent|time:"H:i" }}
                    </td>
                    <td {% if not email.have_read %}class="font-weight-bold"{% endif %}>{{ email.full_name }}</td>
                    <td {% if not email.have_read %}class="font-weight-bold"{% endif %}>{{ email.email }}</td>
                    <td class="text-center">
                        {% if email.have_replied %}
                            <i class="fas fa-check-circle fa-fw fa-lg text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle fa-fw fa-lg text-danger"></i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'delete_email' email.id %}" class="text-danger">
                            <i class="fas fa-trash fa-fw"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <!-- only display if no emails are found -->
                <tr>
                    <td colspan="4"><h3>No matching records found</h3></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> 
{% endblock %}

{% block postloadjs %}
    {{ block.super }}  
    <script type="text/javascript">
    $(document).ready(function(){
        $('#admin-contact-table').dataTable({
        responsive: true,
        order: [[0, 'desc']],
        columnDefs: [
            { responsivePriority: 1, targets: 0 },
            { responsivePriority: 2, targets: 1 },
            { responsivePriority: 3, targets: 3 }
        ]
        });
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });    
    });

    </script>
{% endblock %}