{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">Contact Us</h2>
            <hr>
        </div>
    </div>

    <div class="row center-form">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ contact_form.full_name | as_crispy_field }}
                {{ contact_form.email | as_crispy_field }}
                {{ contact_form.message | as_crispy_field }}
                <div class="submit-button text-right mt-5 mb-2">                    
                    <a href="{% url 'view_basket' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Continue Shopping</span>
                    </a>
                    <button id="submit-button" class="btn btn-black rounded-0">
                        <span class="font-weight-bold">Send Message</span>
                        <span class="icon">
                            <i class="fa-solid fa-paper-plane"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> 
{% endblock %}