{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row center-form">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#id_image').change(function() {
            var file = $('#id_image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
        
        $('label[for="id_has_options"]').text("Check this box if the product has more than one size/version/length etc!");
        $('label[for="id_option_title"]').text("Option title*");
        $('label[for="id_option_1"]').text("Option 1*");
        $('label[for="id_option_2"]').text("Option 2*");
        
        $(document).ready(function(){
            $('#id_has_options').change(function() {
                if(this.checked) {
                    $('label[for="id_option_title"]').show();
                    $('label[for="id_option_1"]').show();
                    $('label[for="id_option_2"]').show();
                    $('label[for="id_option_3"]').show();
                    $('label[for="id_option_4"]').show();
                    $('label[for="id_option_5"]').show();
                    $("#id_option_title").attr("required", true).show();
                    $("#id_option_1").attr("required", true).show();
                    $("#id_option_2").attr("required", true).show();
                    $("#id_option_3").show();
                    $("#id_option_4").show();
                    $("#id_option_5").show();
                } else {
                    $('label[for="id_option_title"]').hide();
                    $('label[for="id_option_1"]').hide().text;
                    $('label[for="id_option_2"]').hide().text;
                    $('label[for="id_option_3"]').hide();
                    $('label[for="id_option_4"]').hide();
                    $('label[for="id_option_5"]').hide();
                    $("#id_option_title").removeAttr("required", true).hide();
                    $("#id_option_1").removeAttr("required", true).hide();
                    $("#id_option_2").removeAttr("required", true).hide();
                    $("#id_option_3").hide();
                    $("#id_option_4").hide();
                    $("#id_option_5").hide();
                }
            });

            $('#id_has_options').change();
        });   
        
    </script>
{% endblock %}